# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: http://discord.esx-framework.org/     #
#     Website: https://esx-framework.org/           #
#     CFG Docs: https://aka.cfx.re/server-commands  #
# # # # # # # # # # # # # # # # # # # # # # # # # # #


# Editable Settings
# -----------------
# You can edit the following:

{{serverEndpoints}}

# Set Tags
sets tags "default, deployer, esx, esx legacy, legacy, official, roleplay"

# Optional Editable Settings
# --------------------------
# You may edit the following:

sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} | ESX Legacy Server"
sets sv_projectName " {{serverName}} | [{{recipeName}}]"
sets sv_projectDesc "{{recipeDescription}}"
set mysql_connection_string "{{dbConnectionString}}"
load_server_icon esxLogo.png
sv_maxclients {{maxClients}}

sv_enforceGameBuild 3095 #mp2023_02 - The Chop Shop
set resources_useSystemChat true

# System Administrators
# ---------------------
# Add system admins

add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
{{addPrincipalsMaster}}

# pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# ESX Language (edit to change the language of ESX)
# -----------------------------------------------------------
setr esx:locale "en"
setr ox:locale "en"
setr inventory:framework "esx"

# Default & Standalone Resources
# ------------------------------
ensure chat
ensure spawnmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl

# ESX Legacy Core
# ----------
ensure [core]

# ESX Addons
# ----------
ensure [standalone]
ensure [esx_addons]

# OX Addons
# ----------
ensure ox_lib
ensure ox_target
ensure ox_doorlock
ensure ox_fuel
ensure ox_inventory

# Additional Resource
# -------------------
ensure pma-voice
