# # # # # # # # # # # # # # # # # # # # # # # # # # #
#  ___ _____  __  _    ___ ___   _   _____   __     #
# | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /     #
# | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /      #
# |___|___/_/\_\ |____|___\___/_/ \_\___| |_|       #
#                                                   #
# Discord: https://discord.gg/esx-framework         #
# Documentation: https://docs.esx-framework.org/    #
# Website: https://esx-framework.org/               #
# # # # # # # # # # # # # # # # # # # # # # # # # # #


## You CAN edit the following:
{{serverEndpoints}}

sets tags "default, deployer, esx, esx legacy, legacy, official, roleplay"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} | ESX Legacy Server"
sets sv_projectName " {{serverName}} | [{{recipeName}}]"
sets sv_projectDesc "{{recipeDescription}}"
set mysql_connection_string "{{dbConnectionString}}"

sv_maxclients {{maxClients}}

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
{{addPrincipalsMaster}}

## pma-voice config
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

## Default & Standalone resources
ensure chat
ensure spawnmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl
#ensure loadingscreen # enables the defualt Plume Loadingscreen

## ESX Legacy
ensure es_extended
ensure [esx]

## ESX Addons
ensure [standalone]
ensure [ox]
ensure [esx_addons]
ensure [hud]

ensure pma-voice