# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                                                 #
# ███████╗███████╗██╗  ██╗    ██╗     ███████╗ ██████╗  █████╗  ██████╗██╗   ██╗  #
# ██╔════╝██╔════╝╚██╗██╔╝    ██║     ██╔════╝██╔════╝ ██╔══██╗██╔════╝╚██╗ ██╔╝  #
# █████╗  ███████╗ ╚███╔╝     ██║     █████╗  ██║  ███╗███████║██║      ╚████╔╝   #
# ██╔══╝  ╚════██║ ██╔██╗     ██║     ██╔══╝  ██║   ██║██╔══██║██║       ╚██╔╝    #
# ███████╗███████║██╔╝ ██╗    ███████╗███████╗╚██████╔╝██║  ██║╚██████╗   ██║     #
# ╚══════╝╚══════╝╚═╝  ╚═╝    ╚══════╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝ ╚═════╝   ╚═╝     #
#                   Discord: https://discord.gg/cNx6HF9P5J                        #
#                   Documentation: https://docs.esx-framework.org                 #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 


## You CAN edit the following:
{{serverEndpoints}}

set steam_webApiKey "none"
sets tags "default, deployer, plume esx, esx legacy, legacy, szi"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} | ESX Legacy Server"
sets sv_projectName " {{serverName}} | [{{recipeName}}]"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "en-GB"
sets tags "default, esx, legacy, Roleplay"
set mysql_connection_string "{{dbConnectionString}}"
set NPWD_DISCORD_TOKEN "my_discord_webhook" # Quotations required - https://projecterror.dev/docs/npwd/start/installation/#setting-up-discord-log-integration

sv_maxclients {{maxClients}}

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
{{addPrincipalsMaster}}

## pma-voice config
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

## Default & Standalone resources
ensure chat
ensure chat-theme-gtao # Cool Chat theme
ensure spawnmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl
ensure loadingscreen

## ESX Legacy
ensure es_extended
ensure [esx]

## ESX Addons
ensure [standalone]
ensure [esx_addons]
ensure [hud]

ensure pma-voice
ensure rp-radio

